body {
  margin-top: 60px;
  background-color: #001e20;
}
h1 {
  font-family: 'Oswald';
  font-weight: 700;
}
h3 {
  font-family: 'Oswald';
  font-weight: 400;
}
p {
  font-family: 'Open Sans';
  font-weight: 400;

}
.nav-color {
  background-color: #f34b00;
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}
.text-nav {
  color: #fff;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 30px;
}
.bg-head {
  background-image: url('../img/bg_hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 450px;
  padding-bottom: 40px;
  font-family: 'Oswald';
  color: #fff;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
}
.bg-head h1{
  font-size: 72px;
}
.bg-head h2{
  font-weight: 200;
  font-size: 65px;
}
.line {
  border-top: 2px solid #fff;
  display: inline-block;
}
.ico2 {
  color: #f34b00;
}
.bg-color-work {
  background-color: #f34b00
.exp {
  margin-bottom: 5em;
}
.card {
  border: 0;
}
.card-text {
  font-weight: 300;
}
.links {
  text-decoration: none;
}
.carousel-control-prev, .carousel-control-next  {
  width: 5%;
}
.footer {
  background-color: #f34b00;

}
.txt3-f {
  color: #fff;
  font-size: 40px;
  vertical-align: middle;
}
.icons-sec-f {
  color: #fff;
  text-decoration: none;
}
.logo{
  width: 150px;
  height: 150px;
}
.footer{
  background-color: #f34b00;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
}

#work, .btn{
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
}
#about{
  padding: 3em;
}
